/*----------------------
        Common CSS  
 ------------------------*/
 @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");

 body {
   font-family: "Poppins", sans-serif;
 }
 * {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
 }
 li {
   list-style: none;
 }
 a {
   text-decoration: none;
 }
 .container {
   max-width: 1160px;
   margin-left: auto;
   margin-right: auto;
   padding: 15px;
 }
 .half-part {
   width: 50%;
 }
 /*---- Button Style  ----*/
 .btn {
   display: inline-block;
 }
 
 /* btn-primary  */
 
 .btn-primary {
   padding: 10px 24px;
   background-color: #e02c6d;
   transition: all 0.8s;
   border: 2px solid #2d25a0;
 }
 
 .btn-primary a {
   color: white;
 }
 .btn-primary:hover {
   border: 2px solid #e02c6d;
   background-color: #2d25a0;
 }
 
 /* btn secondary  */
 .btn-secondary {
   padding: 10px 24px;
   background-color: #e02c6d;
   transition: all 0.8s;
   border: 2px solid #fff;
 }
 
 .btn-secondary a {
   color: white;
 }
 
 .btn-secondary:hover {
   border: 2px solid #e02c6d;
   background-color: #fff;
 }
 .btn-secondary:hover a {
   color: #e02c6d;
 }